.bg-nav {
  background-color: rgb(245, 245, 245);
}

.typeHeader {
  font-family: Saira Stencil One;
  font-size: 1.1rem;
  letter-spacing: 0.01rem;
  color: rgb(56, 217, 223);
  font-weight: 400;
}

.typeHeader:hover {
  font-family: Saira Stencil One;
  font-size: 1.1rem;
  letter-spacing: 0.01rem;
  color: #e02b20;
  font-weight: 400;
}
