
body.bienvenida {
    background-image: url('https://res.cloudinary.com/dhe1gcno9/image/upload/bo_56px_solid_rgb:000,o_24/v1631097345/ProductosMarketV2/FondoPantalla/wallpaperflare.com_wallpaper_ra2ao1.jpg') ;   
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}