@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


body {
  
  background-image: url("https://res.cloudinary.com/dhe1gcno9/image/upload/o_30/v1631097345/ProductosMarketV2/FondoPantalla/wallpaperflare.com_wallpaper_ra2ao1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h2 {
  font-weight: 900;
}



/* .card {
  background: rgb(255, 255, 255);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  border: 0;
  border-radius: 1rem;
} */

.card-img,
.card-img-top {
  border-top-left-radius: calc(1rem - 1px);
  border-top-right-radius: calc(1rem - 1px);
}

 .card h5 {
  overflow: hidden;
  height: 56px;
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: uppercase;
} 

.card-img-top {
  width: 100%;
  max-height: 150px;
  object-fit: contain;
  /* objectFit: 'cover' */
  padding: 5px;
}

.card h2 {
  font-size: 0.7rem;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

/* @media (max-width: 768px) {
    .card-img-top {
        max-height: 150px
    }
} */

.over-bg {
  background: rgba(53, 53, 53, 0.85);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
}

/* .btn {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px 50px 5px 50px
} */

/* .box .btn {
    font-size: 1.5rem
} */

/* @media (max-width: 1025px) {
    .btn {
        padding: 5px 40px 5px 40px
    }
} */

/* @media (max-width: 250px) {
  .btn {
    padding: 5px 30px 5px 30px;
  }
} */

.btn-warning {
  background: none #f7810a;
  color: #ffffff;
  fill: #ffffff;
  border: none;
  text-decoration: none;
  outline: 0;
  box-shadow: -1px 6px 19px rgba(247, 129, 10, 0.25);
  /* border-radius: 100px; */
}

/* .btn-warning:hover {
  background: none #ff962b;
  color: #ffffff;
  box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35);
} */

.btn-success {
  color: #ffffff;
  fill: #ffffff;
  border: none;
  text-decoration: none;
  outline: 0;
  box-shadow: -1px 6px 19px rgba(247, 129, 10, 0.25);
  /* border-radius: 100px; */
}

.bg-danger {
  font-size: 1rem;
}

.price-hp { 
  text-align: center;
   font-size: 0.8rem;
  font-weight: 600;
  color: rgb(87, 79, 79); 
 }

/* .amz-hp {
    font-size: .7rem;
    font-weight: 600;
    color: darkgray
}

.fa-question-circle:before {
    color: darkgray
}

.fa-plus:before {
    color: darkgray
} */

.box {
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0 6px 10px rgb(0 0 0 / 8%), 0 0 6px rgb(0 0 0 / 5%);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.box-img {
  max-width: 300px;
}

.thumb-sec {
  max-width: 300px;
}

/* @media (max-width: 576px) {
  .box-img {
    max-width: 150px;
  }

  .thumb-sec {
    max-width: 200px;
  }
} */

/* @media (max-width: 370px) {
    .box-img {
        max-width: 150px;
      }
  .box .btn {
    padding: 5px 40px 5px 40px;
    font-size: 0.7rem;
  }
} */

/* .disclaimer {
    font-size: .9rem;
    color: darkgray
} */

/* .related h3 {
    font-weight: 900
} */

/* footer {
    background: #212529;
    height: 80px;
    color: #fff
} */
